@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

header {
  a {
    &:hover {
      text-decoration: none;
      cursor: pointer;
    }
  }
}

.page_title {
  margin-bottom: 3%;
  text-align: center;
}

// Authorization form

.mainbox {

  font-weight: normal;
  margin-top: 30px;

  .form_additional_links {
    float: right;
    position: relative;
    font-size: 0.95em;
    top: -20px;
  }

  .panel-body {
    padding-top: 25px;
  }

  .form_input {
    margin-top: 5%;
    margin-bottom: 25px;

    .checkbox {
      margin-left: 30px;
    }
  }
}

#error_explanation h1 {
  font-size: 1.1em;
  font-weight: bold;
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

// Sidebar

.events_sidebar {
  height: 100%;
  font-size: 1.1em;
  a {
    text-decoration: none;
    color: $text_color;
    &.active {
      background-color:  #eee;
    }
  }
  i {
    margin-right: 10px;
  }
  color: $text_color;
  margin-bottom: 10%;
}

// Calendar

.calendar-heading {
  margin-bottom: 15px;
  i {
    font-size: 2em;
  }
  .calendar-title {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0 10px 0 10px;
  }
}

.free_day {
  font-size: 1.5em;
  text-align: center;
  .check_color {
    color: green;
  }
}

// Free users days form

.users_select {
  margin-top: 5%;
  .description_span {
    margin-top: 2%;
    font-size: 0.9em;
  }
}

//Event form

.modal-note {
  display: none;
  font-size: 1.1em;
  text-align: center;
  margin: 10px 0 -10px 0;
  p {
    font-weight: 500;
    padding: 10px 0 10px 0;
  }
}

.buttons {
  margin-top: 5%;
}

#repeats_daily_options { display:none; }
#repeats_weekly_options { display:none; }
#repeats_monthly_options { display:none; }
#repeats_yearly_options { display:none; }

// Development

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}