<div class="col-md-3">
  <div class="sidebar-nav sidebar-fixed-left events_sidebar">
    <ul class="nav">
      <li>
        <%= link_to new_user_event_path(current_user), 'data-toggle' => 'modal', 'data-target' => '#myModal', remote: true do %>
          <i class="fa fa-calendar-plus-o"></i>Create event
        <% end %>
      </li>
      <li>
        <%= active_link_to '<i class="fa fa-calendar-check-o"></i>My events'.html_safe, user_events_path(current_user) %>
      </li>
      <li>
        <%= active_link_to '<i class="fa fa-calendar"></i>All events'.html_safe, events_path %>
      </li>
      <li>
        <%= link_to users_path,  'data-toggle' => 'modal', 'data-target' => '#myModal', remote: true do %>
          <i class="fa fa-user"></i>Users free days
        <% end %>
      </li>
    </ul>
  </div>
</div>